/******************************************************************************/
/*                         Front Matter & Navigation                          */
/******************************************************************************/

/** Header ********************************************************************/

div.head { margin-bottom: 1em }
div.head hr { border-style: solid; }

div.head h1 {
    font-weight: bold;
    margin: 0 0 .1em;
    font-size: 220%;
}

div.head h2 { margin-bottom: 1.5em;}

/** W3C Logo ******************************************************************/

.head .logo {
    float: right;
    margin: 0.4rem 0 0.2rem .4rem;
}

.head img[src*="logos/W3C"] {
    display: block;
    border: solid #1a5e9a;
    border-width: .65rem .7rem .6rem;
    border-radius: .4rem;
    background: #1a5e9a;
    color: white;
    font-weight: bold;
}

.head a:hover > img[src*="logos/W3C"],
.head a:focus > img[src*="logos/W3C"] {
    opacity: .8;
}

.head a:active > img[src*="logos/W3C"] {
    background: #c00;
    border-color: #c00;
}

/* see also additional rules in Link Styling section */

/** Copyright *****************************************************************/

/******************************************************************************/
/*                                   Body                                     */
/******************************************************************************/

body {
    counter-reset: example figure issue;

    /* Layout */
    max-width: 50em;               /* limit line length to 50em for readability   */
    margin: 0 auto;                /* center text within page                     */
    padding: 1.6em 1.5em 2em 50px; /* assume 16px font size for downlevel clients */
    padding: 1.6em 1.5em 2em calc(26px + 1.5em); /* leave space for status flag     */

    /* Typography */
    line-height: 1.5;
    font-family: sans-serif;
    widows: 2;
    orphans: 2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    /* Colors */
    color: black;
    background: white top left fixed no-repeat;
    background-size: 25px auto;
}

/******************************************************************************/
/*                                Sectioning                                  */
/******************************************************************************/

/** Headings ******************************************************************/

h1, h2, h3, h4, h5, h6, dt {
    page-break-after: avoid;
    page-break-inside: avoid;
    font: 100% sans-serif;   /* Reset all font styling to clear out UA styles */
    font-family: inherit;    /* Inherit the font family. */
    line-height: 1.2;        /* Keep wrapped headings compact */
    hyphens: manual;         /* Hyphenated headings look weird */
}

h2, h3, h4, h5, h6 {
    margin-top: 3rem;
}

h1, h2, h3 {
    color: #005A9C;
    background: transparent;
}

h1 { font-size: 170%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-weight: bold; }
h5 { font-style: italic; }
h6 { font-variant: small-caps; }
dt { font-weight: bold; }

/** Subheadings ***************************************************************/

h1 + h2,
#subtitle {
    /* #subtitle is a subtitle in an H2 under the H1 */
    margin-top: 0;
}
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: 1.2em; /* = 1 x line-height */
}

/** Section divider ***********************************************************/

:not(.head) > hr {
    font-size: 1.5em;
    text-align: center;
    margin: 1em auto;
    height: auto;
    border: transparent solid 0;
    background: transparent;
}
:not(.head) > hr::before {
    content: "\2727\2003\2003\2727\2003\2003\2727";
}

/******************************************************************************/
/*                                    Links                                   */
/******************************************************************************/

/** General Hyperlinks ********************************************************/

/* We hyperlink a lot, so make it less intrusive */
a[href] {
    color: #034575;
    text-decoration: none;
    border-bottom: 1px solid #707070;
    /* Need a bit of extending for it to look okay */
    padding: 0 1px 0;
    margin: 0 -1px 0;
}
a:visited {
    border-bottom-color: #BBB;
}

/* Use distinguishing colors when user is interacting with the link */
a[href]:focus,
a[href]:hover {
    background: #f8f8f8;
    background: rgba(75%, 75%, 75%, .25);
    border-bottom-width: 3px;
    margin-bottom: -2px;
}
a[href]:active {
    color: #C00;
    border-color: #C00;
}

/* Backout above styling for W3C logo */
.head .logo,
.head .logo a {
    border: none;
    text-decoration: none;
    background: transparent;
}

/* style-selflinks */
.heading, .issue, .note, .example, li, dt {
    position: relative;
}
a.self-link {
    position: absolute;
    top: 0;
    left: calc(-1 * (3.5rem - 26px));
    width: calc(3.5rem - 26px);
    height: 2em;
    text-align: center;
    border: none;
    transition: opacity .2s;
    opacity: .5;
}
a.self-link:hover {
    opacity: 1;
}
.heading > a.self-link {
    font-size: 83%;
}
li > a.self-link {
    left: calc(-1 * (3.5rem - 26px) - 2em);
}
dfn > a.self-link {
    top: auto;
    left: auto;
    opacity: 0;
    width: 1.5em;
    height: 1.5em;
    background: gray;
    color: white;
    font-style: normal;
    transition: opacity .2s, background-color .2s, color .2s;
}
dfn:hover > a.self-link {
    opacity: 1;
}
dfn > a.self-link:hover {
    color: black;
}

a.self-link::before            { content: "¶"; }
.heading > a.self-link::before { content: "§"; }
dfn > a.self-link::before      { content: "#"; }